
.mdn-banner,
.logo{
	display: none;	
}


.footer__logo{
  display: block;
	font-size: 1.5rem;
	line-height: 1.3;
	margin: 5% 1%;
	color: white;
	background-color: #282727;
	padding: 25px;
	border-radius: 40%;
	border: 2px solid black;
}

.article__content{
	background-color: whitesmoke;
}

@media only screen and (max-width: 667px){
  .page-header__description{
    display: none;
  }
}

@media only screen and (min-width: 768px){
	.main__flex-item{
		flex: 2.55;
	}

	.aside__flex-item{
		flex: 1;
	}

	article__header.flex-wrapper {
		flex-direction: column;
	}
	
	.logo{
		display: block;	
	}

	.footer__logo{
		display: none;
	}
	
	.mdn-banner {
		display: block;
		margin:	auto;
	}
}
